<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Advanced Settings</string>
		</dict>
		<dict>
			<key>alternateColors</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.coolstar.metrolockscreen</string>
			<key>key</key>
			<string>bounceOnTap</string>
			<key>label</key>
			<string>Bounce On Tap</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.coolstar.metrolockscreen</string>
			<key>id</key>
			<string>mediaPlayerBackdrop</string>
			<key>key</key>
			<string>mediaPlayerBackdrop</string>
			<key>label</key>
			<string>Media Player Backdrop</string>
		</dict>
	</array>
	<key>title</key>
	<string>Advanced Settings</string>
</dict>
</plist>
